<div>
  
<div class="jumbotron">
<h1>Hungry? </h1>
  <p class="">We offer online food ordering all over the country, any time. </p>
</div>

<ul class="food-types">
  <li>
    <a href="/food/american">
      <img src="/images/icons/american.png" class="centered-icon">
      <h2 class="icon-spacing">American</h2>
    </a>
  </li>
  <li>
    <a href="/food/asian">
      <img src="/images/icons/asian.png" class="centered-icon">
      <h2>Asian</h2>
    </a>
  </li>
  <li>
    <a href="/food/beverages">
      <img src="/images/icons/beverages.png" class="centered-icon">
      <h2>Beverages</h2>
    </a>
  </li>
  <li>
    <a href="/food/mexican">
      <img src="/images/icons/mexican.png" class="centered-icon">
      <h2>Mexican</h2>
    </a>
  </li>
  <li>
    <a href="/food/organic">
      <img src="/images/icons/organic.png" class="centered-icon">
      <h2>Organic</h2>
    </a>
  </li>
  <li>
    <a href="/food/vegan">
      <img src="/images/icons/vegan.png" class="centered-icon">
      <h2>Vegan</h2>
    </a>    
  </li>
</ul>


</div>










