<header>
  <img src="logo.png" alt="Craveyard">
  <div id="header-signup">
    <%= link_to "Sign Up", new_user_path, {:class => "btn"} %>
    <%= link_to "Sign In", login_path, {:class => "btn"} %>
  </div>
</header>


<h1>Satisfy Your Craving</h1>
<p>Pick a Restaurant</p>
<p>Build a meal</p>
<p>Order your meal</p>
<p>Restaurant Owner?</p>


