<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1>Hey thanks, your order is on the way</h1>

    <p>You card has been charged $<%= @order.subtotal %>0</p>

   <p>You can find your order at <a href="http://craveyard-staging.herokuapp.com/<%= past_orders_path(@order.unique_url) %>"></a></p>
    
  </body>
</html>
