<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1>Hey thanks, your order is on the way</h1>

    <p>You card has been charged $<%= @order.subtotal %>0</p>
      
  </body>
</html>
