<h1>Become a New User</h1>
<p>Becoming a user on Craveyard allows you to place your order, view your current order, checkout, and view past orders associated with your account. </p>
<p>Hungry? Sign up today and order out from your favorite menus, all in one place!</p>

<%= render 'form' %>

<%= link_to 'Back', users_path %>
