<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1>Craveyard: New Restaurant Noticiation</h1>
  <h2><%=@restaurant_name%> Is Pending Approval</h2>
  <p>You can check on and approve pending applications <%= link_to "on your dashboard", @url %> when you are logged in as the site administrator.</p>
  </body>
</html>
