<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1>Thank You for Applying</h1>
  <h2><%=@restaurant_name%> Is Pending Approval</h2>
  <p>You can check on the status of your order at <%= users_path(@user) %></p>
  </body>
</html>
