<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1>Thank You for Applying for Craveyard!</h1>
  <h2><%=@restaurant_name%> Is Pending Approval</h2>
  <p>If you are logged in, you can check on the status of your restaurant <%= link_to "here", @url  %></p>
  </body>
</html>
