<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1>New Restaurant Noticiation</h1>
  <h2><%=@restaurant_name%> Is Pending Approval</h2>
  <p>You can check on and approve pending applications at: <%= dashboard_path(@user) %></p>
  </body>
</html>
