<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1>Your Craveyard Application for <%=@restaurant_name%> was Approved!</h1>
  <h2>Congratulations!</h2>
  <p>You can check out your new restaurant at: <%= restaurant_path(@restaurant) %></p>
  </body>
</html>
