<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1><%=@restaurant_name%> Denied!</h1>
  <h2>We Appologize</h2>
  <p>Your restaurant application was denied. Please make sure that you have filled out all information in the form.</p>
  </body>
</html>
