<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1>Your application for <%=@restaurant_name%> at Craveyard was Denied.</h1>
  <h2>We Apologize</h2>
  <p>Your restaurant application was denied. Often restaurants get rejected for incomplete or fraudulent information. If you feel this was a mistake, please contact us at <a href="mailto:customer_service@craveyard.com">customer_service@craveyard.com</a></p>
  </body>
</html>
