<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @visitor_user.email %>
</p>

<%= link_to 'Edit', edit_visitor_user_path(@visitor_user) %> |
<%= link_to 'Back', visitor_users_path %>
