<h1> Active Restaurants </h1>
<div class="active-restaurants">
  <%= render :partial => 'restaurant', :collection => @restaurants %>
</div>

<div class="pending-restaurants">
<h1> Pending Restaurants </h1>
  <%= render :partial => 'restaurant', :collection => @pending_restaurants %>
</div>
