<%= @restaurant.name %>
<br>
<% if @restaurant.restaurant_employees.count > 1 %>
  <% @restaurant.restaurant_employees.each do |emp| %>
    <%= emp.user.username %>
  <% end %>
<% end %>
<h3> Add more employees </h3>

