

.jumbotron h1 {
	color:#000;
}

.jumbotron p {
	color:#666;
}

ul.food-types {
	list-style:none;
	padding:0;
	margin:0 auto;
	overflow:hidden;
}

ul.food-types li {
	border:1px solid #ccc;
	border-radius:5px;
	width:15%;
	padding:1%;
	float:left;
	margin-right:1.65%;
}

ul.food-types li.last-child {
	margin-right:0;
}

ul.food-types li h2 {
	margin-top:10px;
	margin-bottom:0;
	text-align:center;
}

.centered-icon {
	margin:0 auto;
	display:block;
}

.icon-spacing {
	padding-top:11px;
}