// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#order_item_quantity {
  width:40px;
}

#items ul {
  list-style:none;
  overflow:hidden;
  padding:0;
  margin:0;
}

#items ul li.item {
  width:47%;
  float:left;
  background: #f2f2f2;
  border-radius:8px;
  margin-top:20px;
  color:#222;
  padding:2%;
  margin-right:2%;
}

li.item .title {
  display:block;
  margin-bottom:5px;
  font-size: 1.2em;
  color: #428bca;
}

.item-wrapper {
  overflow:hidden;
}

.item-image {
  float:left;
  width:43%;
}

.item-show-image {
  float:left;
  margin-right:2%;
  border:15px solid #f2f2f2;
  border-radius:8px;
}

.item-details {
  float:right;
  width: 50%;
}

ul.categories {
  overflow:hidden;
  list-style:none;
  margin:0;
  padding:0;
}

li.category {
  color:#53c4d1;
  float:left;
  margin-bottom:5px;
  margin-right:6px;
}

.edit_item label {
  display:block;
}

.edit_item .category-checkbox label { 
  display:inline;
}

label.item-image-label {
  font-size:1.2em;
}

.view-all {
 float:left;
}

form.select-category {
  width:285px;
  float:left;
}

.select-menu {
  overflow: hidden;
}
