// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.order h4, .user_order p{
  color:#222;
}

.order span {
  color:#222;
  margin-right:3%;
}

.user_order .total {
  margin-top:7%;
}

.checkout-container {
  display:block;
  float:left;
  clear:left;
  width: 500px;
  background-color: #fff;
  padding: 20px;

  margin: 0 auto;
  margin-top:1%;
  margin-bottom:2%;
  margin-right:5%;
  -webkit-border-radius: 10px 10px 10px 10px;
     -moz-border-radius: 10px 10px 10px 10px;
          border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}


