// Place all the styles related to the UserSessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_user .actions, .edit_user .actions {
  margin-top:10px;
}

.new_user label, .edit_user label {
  margin-top:10px;
}

.form-container {
  display:block;
  width: 300px;
  background-color: #fff;
  padding: 20px;

  margin: 0 auto;
  margin-bottom:2%;
  -webkit-border-radius: 10px 10px 10px 10px;
     -moz-border-radius: 10px 10px 10px 10px;
          border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.login-form h2, .login-form label {
  color:#222;
  margin-bottom:5%;
}

form {
  margin-bottom:5%;
}

label {
  display: inline-block;
  float: left;
  clear: left;
  width: 75px;
}

input[type=text], input[type=password] {
  margin-bottom:5%
}

p.new-member {
  text-align:center;
}
  

