<h2>Add a New Category</h2>
<%= form_for @category do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Create", {:class => "btn btn-success"} %>
  </p>
<% end %>
