<%= form_tag charges_path do %>
  <article>
    <label class="amount">
      <span>Amount: $<%= @order.subtotal %>0</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Your Platable Order"
          data-amount="<%= @amount %>"></script>
<% end %> 
